:root{
    --color-dark:#2E2E2E;
    --color-dark2:#232323;
    --color-white:#ffffff;
    --color-blue: #5d5de1;
    --color-blue2:#4dd7da;
}

h1 {
    color:var(--color-dark)
}

.hide {
    display: none;
    background: none;
    visibility: hidden;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.chart-type-buttons-div {
    display: flex;
    justify-content: center;
    align-items: start;
    left:2rem
}

.regions-buttons-div button{
    margin-left:1rem;
}

.category-buttons-div {
    width:100%;
    height:100%;
    display:none;
}

.category-button {
    margin-top:1rem;
    margin-left:1rem;
    justify-content: space-evenly;
    box-shadow: 1px 1px  20px rgba(128, 128, 128, 0.67);
}

.countries-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.buttons-div{
    margin-top:2rem;
}

button {
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.67);
    border:grey solid 1px;
    border-radius:2px;
    white-space: nowrap;
}

button:hover {
    background: rgba(255, 194, 0, 0.29);
    text-shadow: 1px 1px #d7cece;
    outline: none;
    border:grey solid 1px;
}

button:active{
    color: #726c6c;
    background: rgba(243, 243, 91, 0.16);
    outline: none;
    border:grey solid 1px;
}

button:focus {
    background: rgba(255, 194, 0, 0.29);
    text-shadow: 1px 1px #d7cece;
    outline: none;
}

.selected {
    color: #726c6c;
    background: rgba(243, 243, 91, 0.16);
    outline: none;
    border:grey solid 1px;
}

.loader-spinner {
    opacity: 0;
    display: none;
    width:5rem;
    height:5rem;
    position: absolute;
    top:50%;
    left:50%;
    border: solid transparent 5px;
    border-top:solid #4545da 10px;
    border-radius:50%;
    transform: rotate(0);
    animation: loading-animation 1000ms 500ms infinite forwards ease-in-out;
}

.activate-spinner{
    display: block;
}


@keyframes loading-animation {
    0% {
        opacity: 0.8;
        transform: rotate(720deg);
    }
    100%{
        opacity: 0.8;
    }
}